<p>
  <strong>name:</strong>
  <%= @designer.name %>
</p>

<p>
  <strong>avator:</strong>
  <%= @designer.avator %>
</p>

<p>
  <strong>email:</strong>
  <%= @designer.email %>
</p>

<p>
  <strong>info:</strong>
  <%= @designer.info %>
</p>


<%= link_to 'Back', designers_path %>