<div class="whole_area">
  <div class="top_area">
    <div class="logo_area">
      <%= image_tag 'page/index/logo46-46-.png' %>
    </div>
    <div class="nav_area">
      <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><%= link_to '畅聊设计', page_topics_path %></li>
        <li class="layui-nav-item"><%= link_to '设计师', page_designers_path %></li>
        <li class="layui-nav-item"><%= link_to '品牌故事', page_stories_path %></li>
        <li class="layui-nav-item"><%= link_to '产品案例', page_products_path %></li>
        <li class="layui-nav-item layui-this"><%= link_to '首页', root_path %></li>
      </ul>
    </div>
    <div class="sign_area">
      <% if current_user %>
          <span><%= image_tag current_user.avatar.url(:thumb) %></span>
          <span class="in_out_span">
            <%= link_to current_user.nick_name, edit_user_path(current_user) %>|
            <%= link_to '注销', logout_path , class: "sign-out"%>
          </span>
      <% else %>
        <span class="in_out_span">
          <%= link_to '登录', login_path, class: "sign-in" %>|
          <%= link_to '注册', signup_path, class: "sign-up" %>
        </span>
      <% end %>
    </div>
  </div>

  <div class="slogan_area">
    <%= image_tag "page/index/bannerwenan1920-1080.png" %>
  </div>

  <div class="products_area">
    <div class="box">
      <div class="title">
        产品案例
        <center><hr class="title_line"/></center>
      </div>
      <div class="example_box">
        <% @index_page.products.each do |product| %>
            <div class="item_box">
              <div class="box_img_area">
                <%= image_tag product.cover.url(:medium) %>
              </div>
              <div class="box_title_area">
                <%= product.name %>
              </div>
              <div class="box_info_area">
                <%= product.product_type %>
              </div>
            </div>
        <% end %>
      </div>
      <div class="more_area">
        <%= link_to '更多>', page_products_path %>
      </div>
    </div>
  </div>
  <div class="middle_tip_area">
    <%= image_tag "page/index/kongbai.png" %>
  </div>
  <div class="designers_area">
    <div class="box">
      <div class="title">
        设计师
        <center><hr class="title_line"/></center>
      </div>
      <div class="example_box">
        <% @index_page.designers.each do |designer| %>
            <div class="item_box">
              <div class="box_img_area">
                <%= image_tag designer.avatar.url(:medium) %>
              </div>
              <div class="box_right">
                <div class="box_title_area">
                  <%= designer.name %>
                </div>
                <div class="box_type_area">
                  服装设计师
                </div>
                <div class="box_info_area">
                  <%= designer.email %>
                </div>
                <div class="more_area">
                  <%= link_to '更多', page_designers_path, class: 'layui-btn layui-btn-primary' %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="middle_tip_area">
    <%= image_tag "page/index/chuangzaoli.png" %>
  </div>
  <div class="partners_area">
    <div class="box">
      <div class="title">
        合作伙伴
        <center><hr class="title_line"/></center>
      </div>
      <div class="example_box">
        <% @index_page.partners.each do |partner| %>
            <a href="<%= partner.official_site %>" target="_blank" title="<%= partner.name %>">
              <div class="item_box">
                <%= image_tag partner.logo.url(:medium) %>
              </div>
            </a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="contact_area">
    <div class="box">
      <div class="title">
        联系我们
        <center><hr class="title_line"/></center>
      </div>
      <div class="example_box">

      </div>
    </div>
  </div>
  <div class="layui-footer">
    <div class="foot_link">
      <%= link_to '首页', root_path %> | <%= link_to '产品案例', page_products_path %> | <%= link_to '品牌故事', page_stories_path %> | <%= link_to '设计师', page_designers_path %> | <%= link_to '畅聊设计', page_topics_path %>
    </div>
    <div class="auth_info">©2017 北京轻肆文化传播公司版权所有</div>
  </div>
</div>

<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element');
</script>