<div class="whole_view">
  <div class="form_area">
    <div class="content_area" >
      <div class="inside_area">
        <div class="title_area">
          <%= @product.name %>
        </div>
        <div class="type_area">
          <%= @product.product_type %>
        </div>

        <div class="content_area">
          <%= (@product.description).html_safe %>
        </div>

        <fieldset class="layui-elem-field site-demo-button">
          <legend>封面图</legend>
          <div class="cover_area">
            <%= image_tag @product.cover.url(:medium), class:'cover_pic' %>
          </div>
        </fieldset>


        <fieldset class="layui-elem-field site-demo-button">
          <legend>评论</legend>
          <div class="comment_area">
            <% @product.comments.each do |comment| %>
                <div class="comment_item">
                  <div class="comment_avatar_area">
                    <div class="comment_avatar_box">
                      <%= image_tag comment.user.avatar.url(:medium)%>
                    </div>
                  </div>
                  <div class="right_comment_area">
                    <div class="comment_name_area">
                      <%= comment.user.nick_name %>
                    </div>
                    <div class="comment_content_area">
                      <%= comment.content %>
                    </div>
                    <div class="comment_time_ago_area">
                      <%= time_ago_in_words(comment.created_at) %>前
                    </div>
                  </div>

                </div>
            <% end %>

            <%= render 'comments/create' %>
          </div>
        </fieldset>

      </div>
    </div>
  </div>
</div>

<script>
    layui.use('form');
</script>