<%= form_for @product,html: { class: 'form_area' } do |f| %>
    <div class="content_area" >
      <div class="layui-form inside_area">
        <div class="layui-form-item">
          <label class="layui-form-label">封面</label>
          <div class="layui-input-block">
            <div class="pic_select_area" onmouseover='$(".pic_cover_area").show()'  onmouseout='$(".pic_cover_area").hide()'>
              <%= image_tag @product.cover.url(:medium), class:'pic_display' %>
              <div class="pic_cover_area">
                <span class="pic_choose_area" onclick='$(".pic_choose_button").trigger("click")'>选择图片</span>
                <%= f.file_field :cover, class:'pic_choose_button' %>
              </div>
            </div>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">产品名</label>
          <div class="layui-input-block">
            <%= f.text_field :name, class: 'layui-input' %>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">产品类型</label>
          <div class="layui-input-block">
            <%= f.select :product_type, ['请选择一个分类', '艺术', '生活', '原创'] %>
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">描述</label>
          <div class="layui-input-block">
            <%= f.text_area :description, class:'layui-textarea' %>
          </div>
        </div>

      </div>
    </div>
    <div class="button_area">
      <div class="button_area">
        <div class="inside_area">
          <%= f.submit '保存', :class=>'layui-btn' %>
          <%= link_to '返回', products_path, :class=>'layui-btn layui-btn-primary' %>
        </div>
      </div>
    </div>
<% end %>

<script>
    layui.use(['layedit', 'form'], function(){
        var layedit = layui.layedit;
        layedit.set({
            uploadImage: {
                url: '<%=upload_image_path%>', //接口url
                type: 'post' //默认post
            }
        });
        layedit.build('product_description'); //建立编辑器
    });

    $(function() {
        $('.pic_choose_button').change(function(e) {
            var file = e.target.files[0];
            preview(file);
        })
    });

    function preview(file) {
        var reader = new FileReader()
        reader.onload = function(e) {
            $('.pic_display').attr("src", e.target.result)
        }
        reader.readAsDataURL(file)
    }
</script>