<div class="whole_view">
  <div class="form_area">
    <div class="content_area" >
      <%= link_to new_product_path, class:'add_button'  do %>
          <span class="plus_icon"></span>
      <% end %>
      <div class="inside_area">

        <% @products.each do |product| %>
            <div class="item_box">
              <div class="box_img_area">
                <%= image_tag product.cover.url(:thumb) %>
              </div>
              <div class="box_title_area">
                <%= product.name %>
              </div>
              <div class="box_info_area">
                <%= product.product_type %>
              </div>
              <div class="col_line"></div>
              <div class="box_button_area">
                <%= link_to product_path(product), class: 'show_button' do %>
                    <%= image_tag 'admins/chakan-20-20.png'%>
                <% end %>
                <%= link_to edit_product_path(product), class: 'edit_button' do %>
                    <%= image_tag 'admins/xiugai-20-20.png'%>
                <% end %>
                <%= link_to product_path(product), class: 'delete_button',
                            method: :delete,
                            data: { confirm: '确定删除?' } do %>
                    <%= image_tag 'admins/shanchu20-20-.png'%>
                <% end %>
              </div>
            </div>
          <% end %>
      </div>
    </div>
    <div class="button_area">
      <div class="button_area">
        <div class="inside_area">
          <%= paginate @products %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    layui.use('layer', function(){

    });
</script>